<!DOCTYPE html>

<html data-ng-app="chromeProxyApp" ng-csp="">
<head>
  <meta charset="utf-8" />
  <title>Chrome Proxy</title>
</head>
<body data-ng-controller="ProxyController">

<section id="main">
  <nav>
    <h2>Chrome Proxy</h2>
  </nav>

  <ul>
    <li data-ng-repeat="rule in rules">
      {{rule.listen_ip}}:{{rule.listen_port}} => {{rule.remote_addr}}:{{rule.remote_port}}
      <button style="float: right;" data-ng-click="deleteRule()">delete</button>
      <button style="float: right;" data-ng-click="reconnectRule()">reconnect</button>
    </li>
  </ul>
  <form>
    <input type="text" ng-model="rule.listen_ip" placeholder="Listen IP"/>
    <input type="number" ng-model="rule.listen_port" placeholder="Listen port" min="1024" max="65535"/>
    <input type="text" ng-model="rule.remote_addr" placeholder="Remote Address"/>
    <input type="number" ng-model="rule.remote_port" placeholder="Remote port" min="1" max="65535"/>
    <input type="submit" ng-click="createRule(rule)" value="Create" />
  </form>
  <button data-ng-click="saveRules()">Save</button>
</section>

<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>